@model IEnumerable<PaginaparaSalvarVidas.Models.AnimalEnAdopcion>

@{
    ViewData["Title"] = "Animales en Adopción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Animales en Adopción</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">➕ Nuevo</a>
</p>

<table class="table table-striped table-bordered table-hover datatable w-100">
    <thead>
        <tr>
            <th>Animal</th>
            <th>Familia</th>
            <th>Fecha Adopción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Animal?.Nombre</td>
                <td>@item.Familia?.Nombre</td>
                <td>@item.FechaAdopcion.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">✏ Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">🗑 Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>